*{
    padding: 0%;
    margin: 0px;
}
    h1{
    text-shadow: 2px 2px black; font-family: Arial, Helvetica, sans-serif; color: rgb(188, 192, 196); text-align: center; justify-content: center; padding:20px; margin: 20px;
}

@media (max-width: 500px){
    h1{
        font-size: 2rem;
    }
    .main-container{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer{
        font-size: 0.3rem;
        display: block;
        box-shadow: -5px -5px green;
    }
    div .container1 {
        width: 200px;
        box-shadow: 2px 2px yellow;

    }
    div .container2{
        width: 200px;
        box-shadow: 2px 2px yellow;
    }
    div .container3{
        width: 200px;
        box-shadow: 2px 2px yellow;
    }
}
@media (min-width: 500px){
    body{
        background: #000;
    }
    h1{
        font-size: 2.2rem;
        text-shadow: 2px 2px red;
    }
    p{
        font-size: 1.5rem;
    }
    .main-container{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    footer{
        font-size: 0.7rem;
    }
    div .container1 {
        width: 250px;
        box-shadow: 2px 2px red;
    }
    div .container2{
        width: 250px;
        box-shadow: 2px 2px red;
    }
    div .container3{
        width: 250px;
        box-shadow: 2px 2px red;
    }
}
@media (min-width: 850px){
    body{
        background: rgb(152, 141, 141);
    }
    body a img{
        border-radius: 90%;
    }
    h1{
        font-size: 2.2rem;
        text-shadow: 2px 2px black;
    }
    p{
        font-size: 1.5rem;
    }
    .main-container{
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    footer{
        font-size: 1rem;
        box-shadow: none;
    }
    div .container1 {
        width: 250px;
        box-shadow: 2px 2px black;
        background:rgb(215, 215, 179);
        color: rgb(8, 5, 5);
    }
    div .container2{
        width: 250px;
        box-shadow: 2px 2px black;
        background:rgb(215, 215, 179);
        color: rgb(8, 5, 5);
    }
    div .container3{
        width: 250px;
        box-shadow: 2px 2px black;
        background:rgb(215, 215, 179);
        color: rgb(8, 5, 5);
    }
}

.main-container{
    display: flex;
    justify-content: space-around;
    
}
.container1 img{
    width: 200px;
    height: 150px;
    display: block;
}
.container1{
    background-color: wheat;
    width: 250px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 3px 2px rgb(202, 199, 199);
    display: inline-block;

}
.container1 ul{
    display: inline-block;
    padding: 2px;;
}
.container1 ul input{
    display: none;
    
}
.container1 label{
    color: gold;
    display: inline-block;
    
}
.container1 span{
    display: inline-block;
    padding: 10px 0 0 0px;
    
}
.key1{
    font-size: 15px;

}

/* Second box */




.container2 img{
    width: 200px;
    height: 150px;
    display: block;
}
.container2{
    background-color: wheat;
    width: 250px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 3px 2px rgb(202, 199, 199);
    display: inline-block;

}
.container2 ul{
    display: inline-block;
    padding: 2px;;
}
.container2 ul input{
    display: none;
    
}
.container2 label{
    display: inline-block;
    
}
.container2 span{
    display: inline-block;
    padding: 10px 0 0 20px;
    
}
.key2{
    font-size: 15px;

}



/* Third container */


.container3 img{
    width: 200px;
    height: 150px;
    display: block;
}
.container3{
    background-color: wheat;
    width: 250px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 3px 2px rgb(202, 199, 199);
    display: inline-block;

}
.container3 ul{
    display: inline-block;
    padding: 2px;;
}
.container3 ul input{
    display: none;
    
}
.container3 label{
    display: inline-block;
    
}
.container3 span{
    display: inline-block;
    padding: 10px 0 0 0px;
    
}
.key3{
    font-size: 15px;
    word-spacing: 15px;

}
footer{
    background-color: black;
    color: white;
    display: flex;
    padding:2%;
    margin-top: 100px;
    justify-content: space-around;
}

footer p{
    padding: 5px;
    margin: 2px;
}
.footer1 span{
    display:block;
    padding:10px;
    margin: 5px;
    color: green;
}


.footer1{
    padding: 10px;
    display: inline-block;
    margin:10px;
}


 .footer2 span{
    display:block;
    padding:5px;
    margin: 5px;
    color: green;
}

.footer2{
    display: inline-block;
    margin:10px;
    padding: 10px;
} 




.footer3 a{
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    color: rgb(23, 231, 23);
    background-color: rgb(39, 53, 18);
    box-shadow: -2px 2px white;
    border-radius: 10%;
}
.footer3 a:hover{
    color:white;
    background: black;
    text-align: center;
    box-shadow: 2px 2px yellow;
    margin: 5px;
}






